<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebPublisher.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebPublisher.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <WebPublisher.Settings>
            <setting name="ftpUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="ftpPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="uploadDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ftpHost" serializeAs="String">
                <value />
            </setting>
        </WebPublisher.Settings>
    </userSettings>
    <applicationSettings>
        <WebPublisher.Settings>
            <setting name="index" serializeAs="String">
                <value>index.html</value>
            </setting>
            <setting name="files" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>index.css</string>
                        <string>index.js</string>
                        <string>php/get_streams.php</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="filesRegexes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>&lt;link rel="stylesheet" href="(index\.css[\?v=A-Fa-f\d]*)" \/&gt;</string>
                        <string>&lt;script src="(index\.js[\?v=A-Fa-f\d]*)"&gt;&lt;\/script&gt;</string>
                    </ArrayOfString>
                </value>
            </setting>
        </WebPublisher.Settings>
    </applicationSettings>
</configuration>
